{% extends 'base.html' %}

{% block body %}
<div class="login-card">

    <div class="card text-center">
        <h2> Please Sign In </h2>
    
        <form method="POST" action="/login">
            <div class="input"> {{ form.username.label }}: {{ form.username }} </div>
            <div class="input"> {{ form.password.label }}: {{ form.password }} </div>
            {{ form.csrf_token }}
            <button class="btn btn-primary" type="submit"> Sign In </button>
        </form>
    </div>

</div>

{% endblock %}